.DS_Store
**/.env
**/.env.*
!**/.env.example
**/.dev.vars
**/.dev.vars.*
!**/.dev.vars.example
node_modules
dist
**/.wrangler
**/cdk.out
**/artifacts
**/cache
**/coverage
**/test-results
**/playwright-report
apps/e2e/.accounts*.json
apps/contracts/out
**/.turbo
apps/gateway/out
